body {
    color: rgb(255, 85, 0);
    background: rgba(255, 85, 0, 0.984);
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(10, 10, 10)
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 119, 0);
}

section {
	background: rgb(0, 0, 0);
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}